vcver:
 - 14.3
 - 14.3
 - 14.3
 - 14.3
 - 14.2
 - 14.1
vsyear:
 - 2022
 - 2022
 - 2022
 - 2022
 - 2019
 - 2017
vsver:
 - 17
 - 17
 - 17
 - 17
 - 16
 - 15
# vc_repack.py checks the expected runtime version (which can be used to find out of course)
runtime_version:
 # the azure/github images only contain the latest minor version per vs-line;
 # if there is a use-case for having older minor versions, they can be added when requested.
 - 14.40.33810
 - 14.40.33810
 - 14.38.33135
 - 14.38.33135
 - 14.29.30139
 - 14.16.27033
# the VS update version.  This is the middle digit in the version
# reported in the VS help->about UI.  It is perhaps a more readily
# referenceable number.
update_version:
 - 10
 - 10
 - 9
 - 9
 - 11
 - 9
# This is the version number reported by cl.exe; if you don't want to or cannot download,
# candidates can be found with a github code search (adapt minor number as necessary):
# https://github.com/search?q=%2F19%5C.40%5C.3%5Cd%5Cd%5Cd%5Cd%2F&type=code
cl_version:
 - 19.40.33808
 - 19.40.33808
 - 19.39.33519
 - 19.39.33519
 - 19.29.30139
 - 19.16.27033
# This is the uuid in the URL; redirect can be resolved e.g. as follows
# curl -ILSs https://aka.ms/vs/17/release/vc_redist.x64.exe | grep "Location:"
# curl -ILSs https://aka.ms/vs/17/release/vc_redist.arm64.exe | grep "Location:"
uuid:
 - 1754ea58-11a6-44ab-a262-696e194ce543
 - 1754ea58-11a6-44ab-a262-696e194ce543
 - 71c6392f-8df5-4b61-8d50-dba6a525fb9d
 - c7707d68-d6ce-4479-973e-e2a3dc4341fe
 - b929b7fe-5c89-4553-9abe-6324631dcc3a
 - 4100b84d-1b4d-487d-9f89-1354a7138c8f
sha256:
 - 15B8F5B2106DC7A7BD83AB57B796770E0F4ECB891AD19BF655C9D6A9DA650AD2
 - 3642E3F95D50CC193E4B5A0B0FFBF7FE2C08801517758B4C8AEB7105A091208A
 - 9378E04AE461E29CE5E46787D20F81700C80AD305B9417710D147C1D7FF0C970
 - 1AD7988C17663CC742B01BEF1A6DF2ED1741173009579AD50A94434E54F56073
 - 296F96CD102250636BCD23AB6E6CF70935337B1BBB3507FE8521D8D9CFAA932F
 - 5B0CBB977F2F5253B1EBE5C9D30EDBDA35DBD68FB70DE7AF5FAAC6423DB575B5
cross_target_platform:
 - win-arm64
 - win-64
 - win-arm64
 - win-64
 - win-64
 - win-64

zip_keys:
 - - vcver
   - vsyear
   - vsver
   - runtime_version
   - update_version
   - cl_version
   - uuid
   - sha256
   - cross_target_platform
